<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %> <br>
  <%= @post.picture.attached? %> <br>
  <img src="<%= public_blob_url(@post.picture.blob) %>" style="width: 300px;" alt="Italian Trulli"> <br>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
