<p id="notice"><%= notice %></p>
<!--
  <p>
    <strong>Title:</strong>
    <%#= @post.title %> <br>
    <%#= @post.picture.attached? %> <br>
    <img src="<#%= public_blob_url(@post.picture.blob) %>" style="width: 300px;" alt="Italian Trulli"> <br> <%# custom helper %>
    <h3>SERVICE URL:</h3>
    <%#= @post.picture.service_url %>
  </p>
-->
<div>
  <p><strong>Title:</strong></p>
  <p><%= @post.title %></p>

  <p><strong>Picture:</strong></p>
  <%= image_tag(@post.picture, style: "width: 300px;") %>

  <p><strong>Description:</strong></p>
  <p><%= @post.description %></p>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
